:root {
    --colore-primario: #E9531D; /* Arancione */
    --colore-chiaro: #EEEDED; /* Chiaro */
}

html {scroll-behavior: smooth;}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Aggiungi una classe per l'effetto slide out */
.page-slide-out {
    animation: slide-out 0.5s forwards ease-in-out;
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/* Aggiungi una classe per l'effetto slide in */
.page-slide-in {
    animation: slide-in 0.5s forwards ease-in-out;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* Contenitore centrale con larghezza massima */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px; /* Padding per evitare che tocchi i bordi */
}

/* Sfondi a piena larghezza */
header.hero, section {
    width: 100%;
}

/* Griglie o sezioni specifiche */
.settori-grid, .contatti-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.container {
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


/* Stile della barra di navigazione */
nav {
    background-color: var(--colore-chiaro);
    height: 180px; /* Altezza fissa per la barra di navigazione */
    padding-top: 15px; /* Spazio di 15px dal bordo superiore */
}


.logo img {
    width: 180px;
    position: relative;
    z-index: 3;
}

/* Stile delle voci del menu */
.nav-links {
    display: flex;
    list-style: none;
    padding-top: 5px;
    gap: 10px;
}

.nav-links li {
    position: relative; /* Per il dropdown */
}

.nav-links li a {
    color: var(--colore-primario);
    font-weight: normal;
    font-size: 15px;
    padding: 10px 15px;
    position: relative; /* Per posizionare l'underline personalizzato */
}

.nav-links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px; /* Altezza della linea */
    background-color: var(--colore-primario); /* Colore della linea */
    transition: width 0.5s ease; /* Transizione dell'underline */
}

.nav-links li a:hover::after {
    width: 100%; /* Espande la linea */
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-icon {
    margin-right: 5px;
    font-size: 12px;
}

.dropdown-icon {
    display: inline-block; /* Assicurati che sia inline-block per poter ruotare */
    margin-right: 5px; /* Spazio tra l'icona e il testo */
    transition: transform 0.5s ease; /* Transizione per la rotazione */
}

.dropdown:hover .dropdown-icon {
    transform: rotate(180deg); /* Ruota di 180 gradi al passaggio del mouse */
}

.dropdown-content {
    display: block; /* Mantieni sempre visibile in modo che la transizione funzioni */
    position: absolute;
    background-color: var(--colore-chiaro);
    padding: 10px 0; 
    z-index: 1;
    opacity: 0; /* Inizialmente invisibile */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Aggiunta transizione */
    pointer-events: none; /* Disabilita gli eventi del mouse quando è invisibile */
}

.dropdown:hover .dropdown-content {
    opacity: 1; /* Rendi visibile */
    pointer-events: auto; /* Abilita gli eventi del mouse quando è visibile */
}

.dropdown-content li {
    padding: 2px 15px; /* Aggiunto padding orizzontale per le voci del dropdown */
}

.dropdown-content li a {
    color: var(--colore-primario);
    font-weight: normal;
    font-size: 14px;
    
    padding: 0
}

/* Nascondi il menu in modalità mobile */
.nav-links {
    display: flex; /* Mantieni il flex per la vista desktop */
}


/* Stile per l'icona hamburger */
.hamburger {
    display: none; /* Mostra solo in mobile */
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    margin-top: -8px;
    z-index: 3;
}

.hamburger .line {
    width: 100%; /* Larghezza delle linee */
    height: 1px; /* Altezza delle linee */
    background-color: var(--colore-primario);
    margin-bottom: 4px; /* Spazio tra le linee */
    transition: all 0.3s ease; /* Transizione per l'animazione */
    position: absolute; /* Usa posizione assoluta per sovrapporle durante l'animazione */
    left: 0;
}

/* Posiziona le linee */
.hamburger .line:nth-child(1) {
    top: 0; /* Prima linea in alto */
}

.hamburger .line:nth-child(2) {
    top: 10px; /* Seconda linea al centro */
}

.hamburger .line:nth-child(3) {
    top: 20px; /* Terza linea in basso */
    width: 60%; /* Terza linea più corta */
    margin-left: auto;
}

/* Stile animato quando l'hamburger è cliccato */
.hamburger.menu-active .line:nth-child(1) {
    transform: rotate(45deg); /* Prima linea ruotata */
    top: 10px; /* Sposta la prima linea al centro */
}

.hamburger.menu-active .line:nth-child(2) {
    transform: rotate(-45deg); /* Seconda linea ruotata */
    top: 10px; /* Sposta la seconda linea al centro */
}

.hamburger.menu-active .line:nth-child(3) {
    opacity: 0; /* Terza linea scompare */
    width: 0px;
}

/* Stili per il menu in mobile */
@media (max-width: 768px) {

    .logo img {
        width: 150px;
    }

    .hamburger {
        display: block;
    }
    
    .dropdown {
        margin-top: 50px;
    }

    nav {
        margin-bottom: -1px;
        padding-top: 22px; /* Spazio di 15px dal bordo superiore */
    }

    .nav-links {
        box-sizing: border-box;
        display: none; /* Nascondi il menu */
        flex-direction: column; /* Imposta il menu in colonna */
        position: absolute; /* Posizione assoluta per il menu */
        top: 0; /* Posizione in alto */
        left: 0; /* Posizione a sinistra */
        width: 100%; /* Larghezza al 100% */
        height: 90vh; /* Altezza al 90% della viewport */
        background-color: var(--colore-chiaro); /* Colore di sfondo */
        z-index: 2; /* Assicurati che il menu si sovrapponga ad altri elementi */
        padding-top: 100px; /* Spazio per il logo */
    }

    .nav-links li {
        text-align: right; 
        margin: 5px; /* Margine tra le voci del menu */
    }
    
    /* Mostra il menu quando è attivo */
    .nav-active {
        display: flex; 
        animation: slideIn 0.5s ease-out;
    }

    .nav-inactive {
        animation: slideOut 1s ease forwards;
    }

    .menu-active {
        display: flex;
    }

    /* Gestione del dropdown in mobile */
    .dropdown-content {
        max-height: 0;
        overflow: hidden;
        background-color: var(--colore-chiaro);
        padding: 0;
        transition: max-height 0.5s ease, padding 0.5s ease;
        position: relative;
        opacity: 1;
    }

    .dropdown-content li {
        padding: 2px 0px;
        margin-right: -1px;
    }

    .dropdown-content li a {
        padding: 10px 15px;
    }

    .dropdown-active {
        max-height: 500px; /* Imposta un valore alto per la massima altezza quando visibile */
        padding: 10px 0; /* Aggiungi padding quando è attivo */
    }

    .dropdown:hover .dropdown-icon {
        transform: none;
    }
    
}

/* Animazione per l'apertura del menu */
@keyframes slideIn {
    from {
        transform: translateY(-100%); /* Inizia fuori dallo schermo */
        opacity: 0; /* Inizia trasparente */
    }
    to {
        transform: translateY(0); /* Si muove nella posizione finale */
        opacity: 1; /* Inizia trasparente */
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0); /* Inizia dalla posizione finale */
        opacity: 1; /* Inizia visibile */
    }
    to {
        transform: translateY(-100%); /* Si sposta fuori dallo schermo */
        opacity: 0; /* Diventa invisibile */
    }
}

/*-----------------------*/

/* Copertina di pagina */
.hero, .hero-gallery {
    background-color: var(--colore-primario); /* Sfondo arancione */
    height: calc(100vh - 195px); /* Altezza dell'intero schermo meno la nav */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Layout della copertina */
.hero .container, .hero-gallery .container {
    display: flex;
    justify-content: space-between; /* Testo a sinistra, video a destra */
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative; /* Necessario per il posizionamento del video assoluto */
}

/* Testo grande a sinistra */
.hero-text, .header-pages-text, .hero-gallery-text {
    text-align: left; /* Testo allineato a sinistra */
    flex: 1;
    max-width: 67%; /* Limita la larghezza del blocco testo */
}

.hero-gallery-text {
    max-width: 80%;
}

.hero-text h1, .header-pages-text h1, .hero-gallery-text h1{
    color: var(--colore-chiaro); /* Testo principale in bianco */
    font-size: 4rem; /* Aumentato ulteriormente il testo */
    font-weight: 900;
    margin-bottom: 60px;
    line-height: 0.85; /* Ridotta l'interlinea */
}

.header-pages-text h1 {
    color: var(--colore-primario);
}

.hero-line {
    width: 50%; /* Riga sottile bianca */
    border: 1px solid white;
    margin: 60px 0;
}

.hero-text h3 {
    color: white;
    font-size: 1.2rem; /* Leggermente ridotto il sottotitolo */
    font-weight: normal;
    line-height: 1.3; /* Ridotta l'interlinea per il sottotitolo */
}

/* Video a destra */
.hero-logo {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Allinea il video a destra */
    position: relative;
    max-width: 33%;
}

.hero-logo video {
    max-width: 500px; /* Larghezza massima del video */
    height: auto;
    mix-blend-mode: lighten; /* Fusione per schiarire */
    position: absolute; /* Posizionamento assoluto per far uscire il video dalla sezione */
    bottom: -500px; /* Fa uscire il video di 500px verso il basso */
    right: 0; /* Mantiene il video allineato a destra */
}

.scroll-indicator {
    position: absolute; /* Manteniamo come absolute */
    bottom: 20px; /* Fissato a 30px dal fondo del contenitore */
    color: white; /* Colore del testo */
    font-size: 0.8rem; /* Dimensione del font */
    z-index: 1; /* Assicura che sia visibile sopra altri elementi */
    transition: all 0.3s ease; /* Aggiungi una transizione per un effetto più fluido */
}

.arrow {
    font-size: 1.5rem; /* Dimensione della freccia */
}

/* Media Queries per il responsive design */
@media (max-width: 768px) {
    nav {
        height: 65px; /* Altezza fissa per la barra di navigazione */
    }
    
    .hero, .hero-gallery {
        height: auto; /* Permetti alla sezione di adattarsi in altezza */
        padding-top: 20px;
        flex-direction: column; /* Disposizione verticale per dispositivi mobili */
    }

    .hero .container {
        flex-direction: column; /* Disporre gli elementi in colonna */
        align-items: center; /* Centrare tutti gli elementi */
        justify-content: center; /* Centrare anche in verticale */
    }

    .hero-text, .hero-gallery-text {
        max-width: 100%; /* Permetti al testo di occupare l'intera larghezza */
    }

    .hero-text h1, .header-pages-text h1, .hero-gallery-text h1 {
        font-size: 2.7rem; /* Ridimensiona il testo per schermi piccoli */
        margin-bottom: 30px; /* Riduci il margine inferiore */
    }

    .hero-line {
        width: 30%; /* Riduci la larghezza della linea */
        margin: 30px 0;
    }

    .hero-text h3 {
        font-size: 1rem; /* Ridimensiona il sottotitolo */
    }

    .hero-logo {
        max-width: 100%; /* Occupare l'intera larghezza */
        justify-content: center; /* Centra il video */
        position: relative;
    }

    .hero-logo video {
        position: relative; /* Rimuovi il posizionamento assoluto */
        bottom: -60px; /* Mantieni il video che esce verso il basso di 30px */
        max-width: 250px; /* Riduci la dimensione del video */
    }

    .scroll-indicator {
        left: 20px; 
    }
}


/*-----------------------*/

/* Stile per la sezione Settori */
#settori {
    padding-top: 70px;
    padding-bottom: 70px;
    box-sizing: border-box;
    background-color: var(--colore-chiaro); /* Sfondo grigio chiaro */
}

#settori .container, #contatti .container, #servizi .container, #materiali .container, footer .container, #esperienza .container, #preventivo .container, #lavora-con-noi .container, #gallery .container {
    display: flex; /* Assicurati che il contenitore sia un flexbox */
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: start; /* Allinea a sinistra */
}

/* Stile per il titolo */
#settori h2, #servizi h2, #materiali h2, #azienda-settori h2, #esperienza h2, #mission h2, #gallery h2 {
    color: var(--colore-primario); /* Arancione */
    font-size: 2rem; /* Grandezza del testo */
    font-weight: 800;
    margin-bottom: 10px; /* Spazio sotto il titolo */
    line-height: 1;
}

/* Stile per il paragrafo */
#settori p {
    font-size: 1.2rem; /* Grandezza del testo */
    margin-bottom: 20px; /* Spazio sotto il paragrafo */
}

/* Griglia per i settori */
.settori-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Due colonne */
    gap: 20px; /* Spazio tra i quadrati */
    width: 100%; /* Occupare tutta la larghezza del contenitore */
    margin: 0 auto; /* Centro la griglia */
}

/* Stile per i settori */
.settore {
    background-color: var(--colore-primario); /* Arancione */
    color: white; /* Colore del testo */
    padding: 40px; /* Spazio interno */
    border-radius: 8px; /* Angoli arrotondati */
    text-align: center; /* Testo centrato */
    font-size: 1.5rem; /* Grandezza del testo */
    min-height: 400px; /* Altezza minima delle celle */
    display: flex; /* Aggiungi display flex per centrare il contenuto */
    flex-direction: column; /* Permette la disposizione verticale del contenuto */
    justify-content: center; /* Centra verticalmente il contenuto */
}

/* Ultimo rettangolo per Trasporti */
.settori-grid .settore:last-child {
    grid-column: span 2; /* Occupa entrambe le colonne */
    background-color: var(--colore-primario); /* Arancione */
    color: white; /* Colore del testo */
    padding: 60px; /* Spazio interno maggiore */
    font-size: 1.8rem; /* Grandezza del testo aumentata */
}

/* Responsività */
@media (max-width: 768px) {
    .settori-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #settori {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .settore {
        min-height: 170px; /* Altezza minima delle celle */
    }
}


/*-----------------------*/

/* Stile per la sezione Servizi */
#servizi {
    box-sizing: border-box;
    padding: 70px 0; /* Padding superiore e inferiore */
    background-color: white; /* Sfondo grigio chiaro */
}

#servizi h2 {
    margin-bottom: 30px;
}

/* Lista dei servizi */
.servizi-list {
    width: 100%;
    list-style: none; /* Rimuovi i pallini */
}

/* Stile per ogni voce della lista */
.servizi-list li {
    position: relative; /* Posizione relativa per il triangolo */
    border-bottom: 1px solid var(--colore-primario); /* Bordo sottostante */
    padding: 20px 80px; /* Padding, con spazio a sinistra per il logo */
    margin-bottom: 20px; /* Spazio tra le voci */
    font-size: 1.2rem; /* Dimensione del testo */
    color: #333; /* Colore del testo */
    display: block; /* Usa flexbox per allineare logo e testo */
    align-items: center; /* Centra verticalmente */
    cursor: pointer;
}

/* Stile per il logo */
.servizio-logo {
    position: absolute; /* Posizione assoluta per il logo */
    left: 0px; /* Margine a sinistra */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Allinea al centro esatto */
    width: 40px; /* Larghezza del logo */
    height: auto; /* Mantieni le proporzioni */
}
.servizio-item {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Triangolo */
.triangolo {
    width: 0;
    height: 0;
    border-left: 8px solid transparent; /* Triangolo verso destra */
    border-right: 8px solid transparent;
    border-top: 8px solid var(--colore-primario); /* Colore del triangolo */
    position: absolute;
    right: 0px; /* Margine a destra */
    bottom: 20px; /* Sposta verso il basso di 10px sopra la linea */
    transform: rotate(-45deg); /* Ruota il triangolo di 45 gradi */
}

.servizio-contenuto {
    display: block; /* Cambia da 'none' a 'block' per gestire l'altezza */
    max-height: 0; /* Nasconde il contenuto */
    overflow: hidden; /* Nasconde l'overflow */
    transition: max-height 0.5s ease-in-out; /* Aggiunge la transizione */
    width: 100%; /* Mantiene la larghezza al 100% */
    font-size: 1rem;
}

.servizio-contenuto.open {
    max-height: 200px; /* Imposta un'altezza massima per il contenuto espanso (regola in base alle tue esigenze) */
}

/* Responsività */
@media (max-width: 768px) {
    .servizi-list li {
        font-size: 1rem; /* Riduci la dimensione del testo per dispositivi mobili */
        padding: 15px 15px 15px 45px; /* Riduci il padding */
    }

    .servizio-logo {
        width: 30px; /* Riduci la dimensione del logo per dispositivi mobili */
    }

    .triangolo {
        border-left-width: 8px; /* Riduci la larghezza del triangolo */
        border-right-width: 8px;
        border-top-width: 8px; /* Riduci la dimensione del triangolo */
    }
}


/*-----------------------*/

/* Stile per la sezione Cosa Utilizziamo */
#materiali {
    background-color: black; /* Sfondo nero */
    color: white; /* Colore del testo bianco */
    padding: 70px 0px 20px; /* Padding superiore e inferiore */
}

#materiali h2 {
    color: white; /* Titolo in bianco */
    margin-bottom: 30px;
}

.materiali {
    width: 100%;
}

.materiale {
    position: relative; /* Per il bordo sotto */
    padding-bottom: 40px; 
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.materiale h3 {
    color: var(--colore-primario); /* Colore arancione per gli h3 */
    margin: 10px 0; /* Margine superiore e inferiore per il titolo */
}

.materiale p {
    width: 60%;
    flex-shrink: 0;
}

/* Bordo arancione sotto ogni sezione materiale */
.materiale::after {
    content: ""; /* Crea un pseudo-elemento */
    position: absolute; /* Posizionamento assoluto */
    left: 0; /* Allinea a sinistra */
    right: 0; /* Allinea a destra */
    bottom: 0; /* Allinea al fondo dell'elemento */
    height: 1px; /* Altezza del bordo */
    background-color: var(--colore-primario); /* Colore del bordo */
}

.euroclass-info {
    margin-top: 70px; /* Spazio superiore */
    font-size: 0.9em; /* Dimensione del font */
    color: var(--colore-primario); /* Colore del testo */
}

/* Responsività */
@media (max-width: 768px) {
    .materiale {
        display: block;   
    }

    .materiale p {
        width: 100%;
    }
}


/*-----------------------*/

/* Stile per la sezione Contatti */
#contatti {
    padding: 70px 0; /* Padding superiore e inferiore */
    background-color: var(--colore-chiaro); /* Sfondo grigio chiaro */
}

.contatti-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr); /* Due colonne per "Richiedi un preventivo" e "Lavora con noi" */
    gap: 30px; /* Spazio tra le colonne */
    justify-items: center; /* Centra gli elementi orizzontalmente */
    margin-bottom: 40px; /* Spazio inferiore per distanziare la riga successiva */
}

.contatto, .posizione {
    position: relative; /* Necessario per posizionare il triangolo */
    box-sizing: border-box;
    border: 1px solid var(--colore-primario); /* Bordo arancione */
    width: 100%; /* Larghezza al 100% della colonna */
    height: 200px; /* Altezza di 200px */
    padding: 20px;
    font-size: 1.8em; /* Aumenta la dimensione del testo */
    color: var(--colore-primario); /* Colore arancione */
    font-weight: bold; /* Testo in grassetto */
    border-radius: 8px; /* Angoli arrotondati */
    transition: 0.5s ease-out;
}

.contatto .triangolo, .slideshow .triangolo {
    bottom: 19px;
    right: 15px;
}

/* Stile specifico per "Contattaci" */
#contatti .contatto:last-child {
    grid-column: span 2; /* Fa sì che "Contattaci" occupi entrambe le colonne */
    max-width: 100%; /* Estendi la larghezza massima */
}

/* Hover che inverte i colori */
.contatto:hover {
    background-color: var(--colore-primario); /* Sfondo arancione */
    color: #fff; /* Testo bianco */
}

.contatto:hover .triangolo, .settore-card:hover .triangolo, .settore-card-hero:hover .triangolo {
    border-left: 8px solid transparent; /* Triangolo verso destra */
    border-right: 8px solid transparent;
    border-top: 8px solid var(--colore-chiaro); /* Colore del triangolo */
}

/* Responsività */
@media (max-width: 768px) {
    .contatti-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


/*-----------------------*/


/* Stile per la sezione Footer */
footer {
    background-color: var(--colore-primario); /* Colore di sfondo */
    color: white; /* Colore del testo */
    padding: 140px 0px 10px 0px; /* Padding sopra e sotto */
}

footer p {
    font-style: normal;
}

.footer-container {
    width: 100%; /* Larghezza del footer */
    margin: 0 auto; /* Centra il footer */
}

.footer-logo {
    margin-bottom: 30px;
    text-align: left; /* Allinea il logo a sinistra */
    filter: brightness(0) invert(1); /* Rende l'immagine completamente bianca */
}

.footer-logo img {
    width: 180px;
}

.footer-columns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Spazio tra le colonne */
    margin: 70px 0; /* Margine sopra e sotto le colonne */
}

.footer-column:first-child {
    max-width: 50%;
    flex-shrink: 0;
}

.footer-column:first-child p {
    margin-bottom: 41px;
}

.footer-column:nth-child(2) p, .footer-column:nth-child(3) p, .footer-column:nth-child(4) p {
    margin-bottom: 30px;
}

.footer-column {
    text-align: left; /* Allinea il testo a sinistra */
}

/* Stile per i link delle colonne del footer e i link a destra */
.footer-column a, 
.footer-right a {
    color: inherit;
    position: relative;
    display: inline-block; /* Assicura che ::after segua correttamente il testo */
}

/* Creazione della linea solo con ::after */
.footer-column a::after, 
.footer-right a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Posiziona la linea esattamente sotto il testo */
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0); /* Nasconde inizialmente la linea */
    transform-origin: left; /* Inizia l'animazione dalla sinistra */
    transition: transform 0.3s ease; /* Transizione fluida */
}

/* Espande la linea con l'animazione */
.footer-column a:hover::after, 
.footer-right a:hover::after {
    transform: scaleX(1); /* Estende la linea a tutta la larghezza */
}

.footer-column:nth-child(4) {
    display: flex; /* Rendi la quarta colonna un contenitore flessibile */
    flex-direction: column; /* Disposizione verticale */
    justify-content: space-between; /* Distribuisci lo spazio tra gli elementi */
    
}

.footer-column:nth-child(4) p:last-child {
    margin-top: auto; /* Spinge l'ultimo paragrafo verso il fondo */
    margin-bottom: 40px;
}

.footer-column:nth-child(4) p:last-child img {
    width: 200px;
}

.footer-bottom {
    width: 100%;
    display: flex; /* Usa flexbox per la disposizione */
    justify-content: space-between; /* Spazia tra i contenuti */
    align-items: center; /* Allinea verticalmente al centro */
    padding: 70px 0; /* Padding sopra e sotto per dare un po' di spazio */
    border-top: 1px solid white; /* Aggiungi una riga superiore se necessario */
    flex-wrap: wrap;
    gap: 20px;
}

.footer-left {
    margin-left: 0; /* A sinistra */
}

.footer-right {
    display: flex; /* Usa flexbox per i testi a destra */
    gap: 20px; /* Spazio tra "Cookies" e "Privacy Policy" */
}

.footer-right p {
    margin: 0; /* Rimuovi margini per un miglior allineamento */
    cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
}

.footer-right p:hover {
    text-decoration: underline; /* Sottolinea al passaggio del mouse */
}

.social-logos {
    display: flex;
    gap: 10px;
}

/* Responsività */
@media (max-width: 768px) {
    .footer-column:first-child {
        max-width: 100%;
    }

    .footer-column:nth-child(4) p:last-child {
        margin-top: 30px;
        margin-bottom: 0px;
    }
}

/*-----------------------*/

/* Stile base del pulsante Scroll to Top*/
#scrollTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid var(--colore-primario); /* Colore del bordo arancione */
    background: transparent; /* Nessuno sfondo */
    color: var(--colore-primario); /* Freccia dello stesso colore del bordo */
    padding: 11px 19px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.4s ease, visibility 0.4s ease, background-color 0.4s, border-color 0.4s, color 0.4s; /* Aggiunta transizione */
    opacity: 0; /* Inizialmente nascosto */
    visibility: hidden; /* Non visibile */
}

#scrollTopButton.visible {
    opacity: 1; /* Visibile quando è attivo */
    visibility: visible;
}

/* Stati normali per le sezioni */
#scrollTopButton.on-light-bg {
    border-color: var(--colore-primario); /* Bordo arancione */
    color: var(--colore-primario); /* Freccia arancione */
}

#scrollTopButton.on-dark-bg {
    border-color: var(--colore-chiaro); /* Bordo bianco */
    color: var(--colore-chiaro); /* Freccia bianca */
}

#scrollTopButton.on-orange-bg {
    border-color: var(--colore-chiaro); /* Bordo bianco */
    color: var(--colore-chiaro); /* Freccia bianca */
}

/* Effetto hover: Riempie il pulsante con il colore del bordo e rende la freccia trasparente */
#scrollTopButton.on-light-bg:hover {
    background-color: var(--colore-primario); /* Sfondo arancione */
    color: var(--colore-chiaro); /* Freccia trasparente */
}

#scrollTopButton.on-dark-bg:hover {
    background-color: var(--colore-chiaro); /* Sfondo bianco */
    color: black; /* Freccia trasparente */
}

#scrollTopButton.on-orange-bg:hover {
    background-color: var(--colore-chiaro); /* Sfondo bianco */
    color: var(--colore-primario); /* Freccia trasparente */
}

/*-----------------------*/

/* Cookies */

.cookie-banner {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    padding: 18px;
    z-index: 1000;
    display: flex;
    align-items: center; /* Assicura che i pulsanti siano allineati verticalmente */
    justify-content: center; /* Spazia gli elementi tra loro */
}

.cookie-banner a {
    color: var(--colore-primario); /* Colore arancione del sito */
    font-family: 'Moderat Extended', sans-serif; /* Applica il font del sito */
    font-weight: 300; /* Pesi o stile che preferisci */
    transition: 0.5s ease-out;
}

.cookie-banner a:hover {
    color: var(--colore-chiaro); /* Colore del link quando si passa sopra con il mouse */
    text-decoration: underline; /* Sottolineatura in hover, opzionale */
}

.cookie-buttons {
    display: flex;
    align-items: center; /* Assicura che i pulsanti siano allineati verticalmente */
    justify-content: center; /* Spazia gli elementi tra loro */
    gap: 10px; /* Spazio tra i bottoni */
}

.cookie-btn {
    padding: 10px 15px;
    border: none;
    background-color: var(--colore-primario);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    border-radius: 5px;
    font-family: 'Moderat Extended', sans-serif; /* Aggiungi il font */
}

.cookie-buttons p {
    margin-right: 50px;
}

.cookie-btn:hover {
    background-color: var(--colore-chiaro);
    color: var(--colore-primario);
}

.reject {
    background-color: #f44336; /* Colore rosso per il bottone "Rifiuta" */
}

.reject:hover {
    background-color: #d32f2f;
}

/*--------------------*/

/*PAGINA CONTATTI*/

.container-info, .mail-info {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Griglia a 2 colonne */
    gap: 30px; /* Spazio tra gli elementi */
    width: 100%; /* Usa tutta la larghezza del contenitore */
    margin: 0 auto; /* Centra la griglia */
    margin-bottom: 50px;
}

/* Stile per ogni blocco di informazione */
.info {
    position: relative; /* Necessario per il triangolo */
    padding: 10px 0; /* Spazio sopra e sotto */
    text-align: left; /* Allineamento a sinistra */
    font-size: 1.2rem; /* Dimensione del testo */
    border-bottom: 1px solid var(--colore-primario); /* Sottolineatura del colore primario */
    width: 100%; /* Estende l'elemento alla larghezza completa */
    box-sizing: border-box; /* Include padding e bordo nel calcolo della larghezza */
}

/* Testo all'interno del blocco */
.info-testo {
    margin: 0;
    display: inline-block;
    width: 100%; /* Il testo occupa l'intera larghezza disponibile */
}

/* Bold text for the headings */
.bold-text {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--colore-primario); /* Uses the primary color */
    margin-bottom: 30px; /* Small space between the heading and email */
}

.posizione {
    grid-column: span 2; /* Fa sì che "Contattaci" occupi entrambe le colonne */
    max-width: 100%; /* Estendi la larghezza massima */
    height: auto;
}

.posizione p:first-child {
    font-weight: bold; /* Testo in grassetto */
    margin-bottom: 20px;
}

.posizione p:nth-child(2) {
    font-weight: 300;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 20px;
}

.mappa iframe {
    border-radius: 15px; /* Arrotonda i bordi */
}

/* Responsività */
@media (max-width: 768px) {
    .container-info, .mail-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .info {
        font-size: 1rem;
    }

    .triangolo {
        bottom: 10px;
    }

    .posizione p:nth-child(2) {
        font-size: 1rem;
    }
}

/*-----------*/

/*PAGINA AZIENDA*/

/* Copertina */

.azienda-hero {
    background-color: var(--colore-chiaro); /* Sfondo grigio chiaro */
    height: calc(100vh - 195px);
}

.azienda-hero .container {
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
}

.video-container {
    width: 50%;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    height: auto;
    width: 105%;
}

.text-container h1 {
    font-size: 2.5em;
    line-height: 1.2;
}

.azienda-hero .scroll-indicator {
    color: var(--colore-primario);
}

.text-container h1 {
    color: var(--colore-primario);
}

@media (max-width: 768px) {
    .azienda-hero  {
        height: auto;
    }

    .azienda-hero .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 40px;
    }

    .video-container {
        width: 100%;
    }

    .azienda-hero .scroll-indicator {
        display: none;
    }

    .text-container h1 {
        font-size: 1.7em;
    }
}

/*--------*/

/* Sezione Settori Azienda */

#azienda-settori {
    padding: 70px 0; /* Padding superiore e inferiore */
}

#azienda-settori .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea a sinistra */
}

.header-row {
    display: flex;
    justify-content: space-between; /* Spazio tra il testo e le frecce */
    width: 100%;
    margin-bottom: 20px; /* Spazio sotto la riga */
}

.header-text {
    flex: 1; /* Occupa tutto lo spazio disponibile */
}

.header-text p {
    width: 50%;
    margin: 30px 0 0; /* Spazio sopra il paragrafo */
}

/* Frecce */
.arrow-controls {
    display: flex;
    align-items: end; /* Centra verticalmente le frecce */
}

.arrow-slideshow {
    font-size: 1rem; /* Dimensione delle frecce */
    cursor: pointer; /* Cursore a mano */
    margin-left: 10px; /* Margine tra le frecce */
    padding: 15px 19px; /* Spazio interno per cliccabilità */
    color: var(--colore-primario); /* Colore delle frecce */
    border: 1px solid var(--colore-primario); /* Bordo arancione */
    border-radius: 5px; /* Angoli smussati */
    transition: background-color 0.3s, color 0.3s; /* Transizione per il cambio di stato */
}

.arrow-slideshow:hover {
    background-color: var(--colore-primario); /* Sfondo arancione al passaggio del mouse */
    color: white; /* Cambia il colore del testo a bianco */
}

/* Stile per lo slideshow */
.slideshow {
    display: flex;
    overflow: hidden; /* Nasconde le carte che escono dal contenitore */
    position: relative; /* Necessario per il posizionamento delle frecce */
    margin-top: 30px;
    width: 100%; /* Imposta la larghezza al 100% del contenitore */
}

.scroll-container {
    display: flex;
    overflow-x: scroll; /* Abilita lo scroll orizzontale */
    -webkit-overflow-scrolling: touch; /* Scorrimento fluido su dispositivi touch */
    scroll-behavior: smooth; /* Scorrimento fluido */
    margin: 30px 0;
    gap: 40px;
}

.scroll-container::-webkit-scrollbar {
    display: none; /* Nasconde la scrollbar per i browser WebKit (Chrome, Safari) */
}

.scroll-container {
    scrollbar-width: none; /* Nasconde la scrollbar per Firefox */
}

.line-vertical {
    position: absolute;
    width: 3px; /* Larghezza della linea */
    background-color: none; /* Colore della linea */
    height: 100%; /* Altezza della linea */
    top: 0; /* Posiziona in alto */
    opacity: 0; /* Nascondi le linee per impostazione predefinita */
    transition: opacity 0.5s ease; /* Aggiungi transizione per la visibilità */
}

.left-line {
    left: -3px; /* Posiziona la linea a sinistra */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3); /* Ombra a destra della linea */
}

.right-line {
    right: -3px; /* Posiziona la linea a destra */
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3); /* Ombra a sinistra della linea */
}

.settore-card, .settore-card-hero {
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto; /* Mantieni la dimensione fissa */
    border: 1px solid var(--colore-primario); /* Bordo arancione */
    border-radius: 8px; /* Angoli arrotondati */
    padding: 10px 20px; /* Spazio interno */
    height: 200px;
    width: 400px; /* Larghezza fissa */
    font-size: 1.8em; /* Aumenta la dimensione del testo */
    color: var(--colore-primario); /* Colore arancione */
    font-weight: bold; /* Testo in grassetto */
    transition: background-color 0.3s, color 0.3s; /* Transizione per il cambio di stato */
    overflow: hidden;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Dietro al testo */
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.settore-card-hero:hover .card-image {
    opacity: 0.4; /* Regola l'opacità per scurire l'immagine */
}

.settore-card-hero span, 
.settore-card-hero .triangolo {
    position: absolute;
    z-index: 2; /* Davanti all’immagine */
}

.settore-card:hover, .settore-card-hero:hover {
    background-color: var(--colore-primario);
    color: var(--colore-chiaro);
}

/* Nascondi le frecce in modalità responsive */
@media (max-width: 768px) {
    .arrow-controls {
        display: none; /* Nascondi le frecce */
    }

    .header-text p {
        width: 100%;
    }

    .settore-card, .settore-card-hero {
        height: 200px;
        width: 240px; /* Larghezza fissa */
    }
}

/*--------------*/

/* Sezione Esperienza */
#esperienza {
    padding: 70px 0; /* Padding superiore e inferiore */
    background-color: var(--colore-chiaro); /* Sfondo bianco */
}

#esperienza .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

/* Stile per la parte sinistra */
#esperienza .left {
    flex: 1;
}

/* Parte destra con i paragrafi */
#esperienza .right {
    flex: 1;
    text-align: left;
}

#esperienza .right p {
    margin-bottom: 30px;
}

.underline {
    text-decoration: underline; /* Sottolinea il testo */
}

/* Immagine a tutto schermo all'interno del container */
.image-full {
    margin-top: 20px; /* Spazio sopra l'immagine */
    width: 100%; /* Larghezza dell'immagine */
    height: 768px; /* Altezza fissa dell'immagine, modificabile a piacere */
    overflow: hidden; /* Nasconde l'eventuale overflow dell'immagine */
}

.image-full img {
    width: 100%; /* L'immagine occupa il 100% della larghezza del container */
    height: 100%; /* Si espande in altezza */
    object-fit: cover; /* L'immagine si adatta al contenitore, tagliando se necessario */
    border-radius: 16px; /* Aggiungi bordi arrotondati se lo desideri */
}

@media (max-width: 768px) {
    #esperienza .container {
        flex-direction: column; /* Disposizione a colonna per schermi piccoli */
    }

    .image-full {
        height: 500px; /* Ridimensiona l'altezza dell'immagine per schermi piccoli */
    }

    .right p {
        font-size: 1rem; /* Ridimensiona il testo */
    }
}

@media (max-width: 480px) {
    .image-full {
        height: 300px; /* Ulteriore riduzione per schermi molto piccoli */
    }

    .right p {
        font-size: 0.9rem; /* Ridimensiona ancora di più il testo */
    }
}

/*-------*/

/* Sezione Mission */
#mission {
    padding: 70px 0; /* Padding superiore e inferiore */
    display: flex;
}

/* Parte sinistra con il titolo */
#mission .container {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    text-align: justify;
}

/* Responsività */
@media (max-width: 768px) {
    #mission p {
        font-size: 1rem; /* Ridimensiona il testo per schermi piccoli */
    }
}


/*------------*/

/* PAGINA PREVENTIVI - LAVORA CON NOI */

#preventivo, #lavora-con-noi {
    padding: 70px 0;
    background-color: var(--colore-chiaro); /* Sfondo grigio chiaro */
}

.subtext {
    width: 67%;
    font-size: 1.2rem;
    margin-bottom: 60px;
}

#form-preventivo {
    width: 100%;
}

.container-form-info {
    display: flex; /* Cambia da grid a flexbox */
    align-items: center; /* Allinea verticalmente al centro */
    justify-content: center;
    width: 100%;
    gap: 30px; /* Spazio tra gli elementi */
    margin-bottom: 40px; /* Spazio inferiore per distanziare la riga successiva */
}

.container-form-info.full-width {
    display: block;
}

.form-info {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid var(--colore-primario);
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent; /* Sfondo trasparente */
    font-family: inherit; /* Usa il font base del documento */
    font-weight: 300; /* Font più leggero */
}

textarea.form-info {
    height: 200px;
    display: inline;
    background-color: transparent; /* Sfondo trasparente */
    resize: none; /* Impedisce il ridimensionamento */
}

.file-upload input[type="file"], .cv-upload input[type="file"] {
    display: none;
}

.file-upload, .cv-upload {
    display: inline-block; /* Mantiene il pulsante in linea */
    width: auto; /* Adattamento del pulsante alla lunghezza del testo */
}

.file-upload span, .cv-upload span {
    display: inline-block;
    padding: 15px 20px; /* Aumenta il padding per un bottone più largo */
    background-color: transparent; /* Sfondo trasparente */
    color: var(--colore-primario); /* Colore del testo in base alla variabile primaria */
    border: 1px solid var(--colore-primario); /* Bordo del colore primario */
    border-radius: 8px; /* Bordi arrotondati */
    cursor: pointer;
    white-space: nowrap; /* Evita che il testo vada a capo */
    transition: all 0.3s ease; /* Transizione fluida per l'effetto hover */
}

.file-upload span:hover, .cv-upload span:hover {
    background-color: var(--colore-primario); /* Colore pieno al passaggio del mouse */
    color: var(--colore-chiaro); /* Colore del testo chiaro */
    border-color: var(--colore-primario); /* Mantiene il bordo primario */
}

#file-name {
    display: inline-block; /* Mantieni il testo in linea con il pulsante */
    padding: 10px 0;
    border-bottom: 1px solid var(--colore-primario);
    margin-left: 0;
    font-size: 1.2rem;
}

.checkboxes {
    margin: 70px 0;
    font-size: 1rem;
    font-weight: 300;
}

.checkboxes label {
    display: block; /* Mantieni il comportamento predefinito */
    margin-bottom: 10px; /* Spazio tra le righe delle checkbox */
    align-items: center; /* Allinea verticalmente gli elementi all'interno del label */
}

.checkboxes label div {
    display: inline-block; /* Mantieni il div del checkbox come inline-block */
}

.checkboxes input[type="checkbox"] {
    display: none; /* Nascondi la checkbox originale */
}

.checkbox-custom {
    vertical-align: middle; /* Centra verticalmente il checkbox */
    width: 20px; /* Larghezza personalizzata */
    height: 20px; /* Altezza personalizzata */
    margin-bottom: 2px;
    background-color: var(--colore-chiaro); /* Sfondo bianco */
    border: 1px solid var(--colore-primario); /* Bordo arancio */
    border-radius: 2px; /* Angoli arrotondati */
    position: relative; /* Posizionamento relativo per il pseudo-elemento */
    cursor: pointer; /* Cambia il cursore al passaggio sopra */
    margin-right: 10px; /* Spazio tra la checkbox e il testo */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transizione per il cambio di colore */
}

/* Mostra la spunta quando la checkbox è selezionata */
.checkboxes input[type="checkbox"]:checked + .checkbox-custom {
    background-color: var(--colore-primario); /* Sfondo arancio */
}

.checkboxes input[type="checkbox"]:checked + .checkbox-custom::after {
    content: ""; /* Contenuto vuoto per il pseudo-elemento */
    position: absolute; /* Posizionamento assoluto */
    left: 5px; /* Posizionamento orizzontale */
    top: 2px; /* Posizionamento verticale */
    width: 8px; /* Larghezza della spunta */
    height: 12px; /* Altezza della spunta */
    border: solid var(--colore-chiaro); /* Colore della spunta */
    border-width: 0 1px 1px 0; /* Stile della spunta */
    transform: rotate(45deg); /* Ruota per formare la spunta */
    opacity: 1; /* Mostra la spunta */
}

/* Rimuovi la spunta se non è selezionata */
.checkboxes input[type="checkbox"]:not(:checked) + .checkbox-custom::after {
    opacity: 0; /* Nascondi la spunta */
}

.privacy-link {
    color: var(--colore-primario); /* Usa il colore primario per il link */
    text-decoration: underline; /* Sottolinea il link */
}

.submit-btn {
    font-family: inherit;
    font-size: 1rem;
    padding: 20px 100px;
    margin-bottom: 30px;
    background-color: transparent; /* Sfondo trasparente */
    color: var(--colore-primario); /* Colore del testo in base alla variabile primaria */
    border: 1px solid var(--colore-primario); /* Bordo del colore primario */
    border-radius: 8px; /* Bordi arrotondati */
    text-align: center; /* Allineamento del testo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: all 0.3s ease; /* Transizione fluida per l'effetto hover */
}

.submit-btn:hover {
    background-color: var(--colore-primario); /* Colore pieno al passaggio del mouse */
    color: var(--colore-chiaro); /* Colore del testo chiaro */
    border-color: var(--colore-primario); /* Mantiene il bordo primario */
}

.mandatory-field {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--colore-primario);
}

@media (max-width: 768px) {
    .subtext {
        font-size: 1rem; /* Riduci la dimensione del testo */
        margin-bottom: 40px;
        width: 100%;
    }

    .container-form-info {
        flex-direction: column; /* Disporre gli elementi in colonna */
        margin-bottom: 30px;
        align-items: flex-start;
    }

    .form-info {
        font-size: 1rem; /* Riduci la dimensione del font */
        padding: 8px 0;
    }

    #file-name {
        font-size: 1rem; /* Riduci la dimensione del testo del nome file */
    }

    .submit-btn {
        padding: 15px 60px; /* Riduci la dimensione del bottone di invio */
        font-size: 0.9rem; /* Riduci la dimensione del font */
    }

    .mandatory-field {
        font-size: 0.8rem; /* Riduci la dimensione del testo per campi obbligatori */
    }
}

/*-------------*/

/* PAGINA INDUSTRIA - SPORT - OUTDOOR - ADVERTISING - TRASPORTI */

#gallery {
    padding: 70px 0;
    background-color: var(--colore-chiaro);
}

#gallery h2 {
    margin-bottom: 30px;
}

.hero-gallery-text p {
    color: var(--colore-chiaro)
}

.hero-gallery-text p:nth-of-type(1) {
    margin-bottom: 30px;
}

/* Griglia per le immagini */
.gallery-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.column-full {
    width: 100%;
}

.column-half {
    width: calc(50% - 10px); /* Per avere due colonne con un piccolo gap */
}

/* Imposta altezza uniforme per le immagini */
.responsive-img {
    width: 100%;
    height: 400px; /* Altezza fissa */
    object-fit: cover; /* Mantiene le proporzioni ma riempie l'area, tagliando se necessario */
    display: block;
    border-radius: 8px;
}

/* Pulsante per mostrare di più */
.button-container {
    text-align: center;
    width: 100%;
    margin: 20px 0 50px 0;
}

.show-more-btn {
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    padding: 20px;
    background-color: transparent; /* Sfondo trasparente */
    color: var(--colore-primario); /* Colore del testo del colore primario */
    border: 1px solid var(--colore-primario); /* Bordo del colore primario */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* Transizione fluida per tutte le proprietà */
}

.show-more-btn:hover {
    background-color: var(--colore-primario); /* Sfondo arancione in hover */
    color: var(--colore-chiaro); /* Colore del testo cambia in chiaro */
    border-color: var(--colore-primario); /* Il bordo rimane arancione */
}

/* Sezione nascosta */
.hidden-section {
    width: 100%;
    max-height: 0; /* Altezza iniziale a zero */
    overflow: hidden;
    transition: max-height 0.5s ease; /* Transizione fluida */
}


/* Media query per migliorare l'aspetto su dispositivi mobili */
@media (max-width: 768px) {
    .hero-gallery {
        padding-top: 0;
        padding: 90px 0 100px 0;
    }

    .hero-gallery .scroll-indicator {
        display: none;
    }

    .column-half {
        width: 100%; /* Le immagini diventano a tutta larghezza sui dispositivi mobili */
    }

    /* Modifica l'altezza delle immagini sui dispositivi mobili per adattarsi meglio */
    .responsive-img {
        height: 250px; /* Altezza fissa ridotta per dispositivi mobili */
    }
}
