* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Contenitore centrale con larghezza massima */
.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px; /* Padding per evitare che tocchi i bordi */
}

/* Sfondi a piena larghezza */
header.hero, section {
    width: 100%;
    padding: 60px 0;
}

/* Griglie o sezioni specifiche */
.settori-grid, .contatti-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

/* Settori */
.settore, .contatto {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


/* Stile della barra di navigazione */
nav {
    background-color: #EEEDED;
    height: 180px; /* Altezza fissa per la barra di navigazione */
    padding-top: 15px; /* Spazio di 50px dal bordo superiore */
}


.logo img {
    width: 120px;
    position: relative;
    z-index: 3;
}

/* Stile delle voci del menu */
.nav-links {
    display: flex;
    list-style: none;
    padding-top: 5px;
    gap: 10px;
}

.nav-links li {
    position: relative; /* Per il dropdown */
}

.nav-links li a {
    color: #E9531D;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 15px;
    transition: text-decoration 0.5s ease; /* Transizione di 0.5 secondi per la sottolineatura */
}

.nav-links li a:hover {
    text-decoration: underline; 
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-icon {
    margin-right: 5px;
    font-size: 12px;
}

.dropdown-icon {
    display: inline-block; /* Assicurati che sia inline-block per poter ruotare */
    margin-right: 5px; /* Spazio tra l'icona e il testo */
    transition: transform 0.5s ease; /* Transizione per la rotazione */
}

.dropdown:hover .dropdown-icon {
    transform: rotate(180deg); /* Ruota di 180 gradi al passaggio del mouse */
}

.dropdown-content {
    display: block; /* Mantieni sempre visibile in modo che la transizione funzioni */
    position: absolute;
    background-color: #EEEDED;
    padding: 10px 0; 
    z-index: 1;
    opacity: 0; /* Inizialmente invisibile */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Aggiunta transizione */
    pointer-events: none; /* Disabilita gli eventi del mouse quando è invisibile */
}

.dropdown:hover .dropdown-content {
    opacity: 1; /* Rendi visibile */
    pointer-events: auto; /* Abilita gli eventi del mouse quando è visibile */
}

.dropdown-content li {
    padding: 2px 15px; /* Aggiunto padding orizzontale per le voci del dropdown */
}

.dropdown-content li a {
    color: #E9531D;
    font-weight: normal;
    font-size: 14px;
}

/* Nascondi il menu in modalità mobile */
.nav-links {
    display: flex; /* Mantieni il flex per la vista desktop */
}


/* Stile per l'icona hamburger */
.hamburger {
    display: none; /* Mostra solo in mobile */
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    margin-top: -8px;
    z-index: 3;
}

.hamburger .line {
    width: 100%; /* Larghezza delle linee */
    height: 1px; /* Altezza delle linee */
    background-color: #E9531D;
    margin-bottom: 4px; /* Spazio tra le linee */
    transition: all 0.3s ease; /* Transizione per l'animazione */
    position: absolute; /* Usa posizione assoluta per sovrapporle durante l'animazione */
    left: 0;
}

/* Posiziona le linee */
.hamburger .line:nth-child(1) {
    top: 0; /* Prima linea in alto */
}

.hamburger .line:nth-child(2) {
    top: 10px; /* Seconda linea al centro */
}

.hamburger .line:nth-child(3) {
    top: 20px; /* Terza linea in basso */
    width: 60%; /* Terza linea più corta */
    margin-left: auto;
}

/* Stile animato quando l'hamburger è cliccato */
.hamburger.menu-active .line:nth-child(1) {
    transform: rotate(45deg); /* Prima linea ruotata */
    top: 10px; /* Sposta la prima linea al centro */
}

.hamburger.menu-active .line:nth-child(2) {
    transform: rotate(-45deg); /* Seconda linea ruotata */
    top: 10px; /* Sposta la seconda linea al centro */
}

.hamburger.menu-active .line:nth-child(3) {
    opacity: 0; /* Terza linea scompare */
    width: 0px;
}

/* Stili per il menu in mobile */
@media (max-width: 768px) {

    .hamburger {
        display: block;
    }
    
    .dropdown {
        margin-top: 50px;
    }

    .nav-links {
        box-sizing: border-box;
        display: none; /* Nascondi il menu */
        flex-direction: column; /* Imposta il menu in colonna */
        position: absolute; /* Posizione assoluta per il menu */
        top: 0; /* Posizione in alto */
        left: 0; /* Posizione a sinistra */
        width: 100%; /* Larghezza al 100% */
        height: 90vh; /* Altezza al 90% della viewport */
        background-color: #EEEDED; /* Colore di sfondo */
        z-index: 2; /* Assicurati che il menu si sovrapponga ad altri elementi */
        padding-top: 100px; /* Spazio per il logo */
    }

    .nav-links li {
        text-align: right; 
        margin: 5px; /* Margine tra le voci del menu */
    }
    
    /* Mostra il menu quando è attivo */
    .nav-active {
        display: flex; 
        animation: slideIn 0.5s ease-out;
    }

    .nav-inactive {
        animation: slideOut 1s ease forwards;
    }

    .menu-active {
        display: flex;
    }

    /* Gestione del dropdown in mobile */
    .dropdown-content {
        max-height: 0;
        overflow: hidden;
        background-color: #EEEDED;
        padding: 0;
        transition: max-height 0.5s ease, padding 0.5s ease;
        position: relative;
        opacity: 1;
    }

    .dropdown-content li {
        padding: 2px 0px;
        margin-right: -1px;
    }

    .dropdown-active {
        max-height: 500px; /* Imposta un valore alto per la massima altezza quando visibile */
        padding: 10px 0; /* Aggiungi padding quando è attivo */
    }

    .dropdown:hover .dropdown-icon {
        transform: none;
    }
    
}

/* Animazione per l'apertura del menu */
@keyframes slideIn {
    from {
        transform: translateY(-100%); /* Inizia fuori dallo schermo */
        opacity: 0; /* Inizia trasparente */
    }
    to {
        transform: translateY(0); /* Si muove nella posizione finale */
        opacity: 1; /* Inizia trasparente */
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0); /* Inizia dalla posizione finale */
        opacity: 1; /* Inizia visibile */
    }
    to {
        transform: translateY(-100%); /* Si sposta fuori dallo schermo */
        opacity: 0; /* Diventa invisibile */
    }
}

/*-----------------------*/

/* Copertina di pagina */
.hero {
    background-color: #E9531D; /* Sfondo arancione */
    padding: 60px 0; /* Padding per il contenuto */
    text-align: center; /* Allineamento centrale */
}

.hero-text h1 {
    color: white; /* Testo principale in bianco */
    font-size: 2.5rem; /* Dimensione del testo principale */
    margin-bottom: 10px; /* Margine inferiore */
}

.hero-text h3 {
    color: white; /* Testo secondario in bianco */
    font-size: 1.5rem; /* Dimensione del testo secondario */
    margin-bottom: 20px; /* Margine inferiore */
}

.hero-logo img {
    max-width: 100%; /* Mantieni il logo responsivo */
    height: auto; /* Mantieni l'aspetto del logo */
    mix-blend-mode: lighten; /* Applica la fusione in schiarisci */
}